.newsfeed{
    flex: 0.6;
    color: var(--textWhiter)
}
.newsfeed__portfolioValue>h1, .newsfeed__portfolioValue>p{
    margin: 0;
    font-family: var(--font);
}
.newsfeed__portfolioValue{
    padding: 15px 25px;
}
.newsfeed__portfolioValue>h1{
letter-spacing: 1px;
font-size: 45px;
}
.newsfeed__portfolioValue>h1>sup{
    font-weight: 300;
    font-size: 20px;
}
.newsfeed__portfolioValue>p{
    color: #39e75f;
    font-size: 17px;
}
.newsfeed__portfolioValue>p>span{
    font-size: 12px;
}
.newsfeed__chart{
    margin: 15px 25px;
}

/* TIMELINE */
.timeline__container{
    display: flex;
    margin-top: 30px;
    
}
.timeline__buttons__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.timeline__button{
    font-family: var(--font);
    color: var(--textBeforeFocus);
    font-weight: bold;
    font-size: 13px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-bottom: 1px solid var(--backgroundDark);
}
.timeline__button:hover{
    color: var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
    box-shadow: inset 0px -10px 8px -10px var(--mainColor); 
}
.timeline__button.active{
    color: var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
    box-shadow: inset 0px -10px 8px -10px var(--mainColor); 
}
/* POPULAR STOCKS */


/* RESPONSIVE */

@media screen and (max-width:1450px){
    .newsfeed__chart{
        margin: 15px 25px;
        margin-right: 10%;
    }
}
@media screen and (max-width:1350px){
    .newsfeed{
        flex: 0.6;
    }
}
@media screen and (max-width: 1024px){
    .newsfeed{
        flex: 0.5;
    }
    .newsfeed__chart{
        margin: 15px 25px;
        margin-right: 0%;
    }
}
@media screen and (max-width: 932px){
    .newsfeed{
        flex: 0.4;
    }
}



