.newsfeed{
    flex: 0.7;
    color: var(--textWhiter)
}

.newsfeed__portfolioValue>h1, .newsfeed__portfolioValue>p{
    margin: 0;
    font-family: var(--font);
}

.newsfeed__portfolioValue{
    padding: 15px 25px;
}

.newsfeed__portfolioValue>h1{
letter-spacing: 1px;
}
.newsfeed__portfolioValue>h1>sup{
    font-weight: 300;
    font-size: 20px;
}
.newsfeed__portfolioValue>p{
    color: #39e75f;
    font-size: 15px;
}
.newsfeed__portfolioValue>p>span{
    font-size: 12px;
}
.newsfeed__chart{
    margin: 15px 25px;
}