.content__main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.content__content{
    width: 90%;
}
.stocks__header>h1{
    font-family: var(--font);
    font-size: 40px;
    color: var(--textWhiter);
}
.stocks__header>p{
    font-family: var(--font);
    font-size: 15px;
    color: var(--textWhite);
}

/* STOCKS DATATABLE */

.dataTable__stocks{
    width: 100%;
    height: auto;
    padding: 15px 20px;
    background-color: var(--backgroundDark);
    box-shadow: var(--boxShadow );
    border-radius: 5px;
    margin: 50px 0;
}
.table__stocks{
    width: 100%;
    color: var(--textWhiter);
    font-family: var(--font);
    font-size: 15px;
    text-align: center;
}
.col__row{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--mainBgColor);
}

/* RESPONSIVE */

/* remove a tabela em mobile */

@media only screen and (max-width: 1024px) {
    .content__content{
        width: 90%;
    }
}
@media only screen and (max-width: 767px) {
    .dataTable__stocks{
        display: none;
    }
}
