.stats{
    flex: 0.3;
    margin: 10px;
    text-align: center;
    color: var(--textWhite);
}

.stats__container{
    flex-direction: column;
    flex:1;
    background-color: var(--backgroundDark);
    padding: 15px 15px 25px 15px;
    margin: 10px;
    border-radius: 5px;
}

.stats__header{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: left;
    padding: 15px 15px;
    margin: 10px;
    font-family: var(--font);
    color: var(--textBeforeFocus); 
}

.stats__header>i, .stats__header>p{
    font-size: 15px;
    vertical-align: middle;
    transition: 0.2s ease-in-out;
}

.stats__row{
    transition: 0.2s ease-in-out;
}

.stats__header>i:hover {
    text-shadow: 0px 0px 10px var(--mainColor);
    color: var(--mainColor);
    cursor: pointer;
}

/* STATS ROW */

.row{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    height: 50px;
    margin: 0 10px;
    padding: 10px 30px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.row:hover{
    background-color: var(--backgroundHover);
}

.row__intro>h1{
    font-size: 14px;
    font-family: var(--font);
}
.row__price{
    vertical-align: middle;
}
.row__price>span{
    font-size: 12px;
}

.row__numbers{
    font-family: var(--font);
    font-size: 13px;
}
.row__numbers>.row__percentage{
    font-size: 12px;
    text-align: right;
}

.row__intro{
    font-family: var(--font);
    font-size: 13px;
    text-align: left;
}

.numNeg{
    color: var(--colorRed);
}

.numPos{
    color: var(--colorGreen);
}

.chart__img{
    height: 20px;
    width: 100%;
}

@media screen and (max-width:1280px){
    .stats{
        flex: 0.4;
    }
}
@media screen and (max-width:1024px){
    .stats{
        flex: 0.5;
    }
    .row__chart{
        display: block;
    }
}
@media screen and (max-width:980px){
    .stats{
        flex: 1;
    }
}
@media screen and (max-width:468px){
    .stats{
        flex: 1;
    }
    .row{
        margin: 0 5px;
        padding: 10px 15px;
    }
    .stats__header{
        padding: 15px 10px;
        margin: 10px;
    }
}