@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

  --mainColor: #6366f1;
  --mainBgColor: #070707;

  --textWhite : #c1c1c1;
  --textWhiter : #fff;
  --textBeforeFocus: #707070;

  --backgroundHover: #252525;
  --backgroundDark: #151515;

  --font : 'Poppins', sans- serif;

}

*{
  margin:0;
  padding: 0;
}

body{
  background-color: var(--mainBgColor);
}
.header{
  position: fixed;
  width: 100%;
  align-items: center;
  height: 100px;
}
.app__body{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.body__container{
  width: 90%;
  display: flex;
  justify-content: center;
  height: 600px;
  margin-top: 150px;
}

@media screen and (max-width: 1024px) {
  .body__container{
    width: 100%;
  }
}
