@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

  --mainColor: #6366f1;
  --mainBgColor: #070707;

  --textWhite : #c1c1c1;
  --textWhiter : #fff;
  --textBeforeFocus: #707070;

  --backgroundHover: #252525;
  --backgroundDark: #101010;

  --colorGreen : #39e75f;
  --colorRed: #e71f20;

  --font : 'Poppins', sans- serif;

  --boxShadow : 0px 0px 10px rgba(10,10,10, 1);
  --boxShadowHover : 0px 0px 10px rgba(50,50,50, 0.7);

}

*{
  margin:0;
  padding: 0;
  border-spacing: 0;
}

body{
  background-color: var(--mainBgColor);
}
.App{
  display: flex;
  grid-template-columns: 1fr 10fr;
}

.MobileNav{
  position: fixed;
  z-index: 10;
  bottom: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  display: none;
}

.navBar{
  width: 250px;
  position: fixed;
  transition: 0.2s ease-in-out;
}

.full_content{
  margin-left: 250px;
  width: 100%;
}

.header{
  width: 100%;
  align-items: center;
  height: 100px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
  .navBar{
    position: fixed;
    width: 90px;
  }
  .full_content{
    margin-left: 100px;
    width: 100%;
  }
}
@media only screen and (max-width: 504px) {
  .navBar{
    display: none;
  }
  .full_content{
    margin-left: 0px;
    width: 100%;
  }
  .MobileNav{
    display: block;
  }
}
