@media screen and (max-width:1450px){
    .newsfeed__chart{
        margin: 15px 25px;
        margin-right: 10%;
    }
}
@media screen and (max-width:1350px){
    .newsfeed{
        flex: 0.5;
    }
    .stats{
        flex: 0.5;
    }
}
@media screen and (max-width: 1024px){
    .body__container{
      width: 100%;
    }
    .body__container{
        margin-top: 300px;
        flex-direction: column;
        width: 100%;
    }
    .newsfeed{
        flex: 1;
    }
    .newsfeed__chart{
        margin: 15px 25px;
        margin-right: 0%;
    }
    .stats{
        flex: 1;
    }
    .row__chart{
        display: block;
    }
}
@media screen and (max-width:468px){
    .dataTable__Stocks {
        padding: 0;
        margin: 0;
    }
    .col_row{
        padding: 15px 15px;
        transition: 0.2s ease-in-out;   
    }
    .stats{
        flex: 1;
    }
    .row{
        margin: 0 5px;
        padding: 10px 15px;
    }
    .stats__header{
        padding: 15px 10px;
        margin: 10px;
    }
}
