.newsfeed{
    flex: 0.7;
    border: 1px solid orange;
    color: var(--textWhiter)
}

.newsfeed__portfolioValue>h1, .newsfeed__portfolioValue>p{
    margin: 0;
    font-family: var(--font);
}

.newsfeed__portfolioValue{
    padding: 15px 25px;
}

.newsfeed__portfolioValue>p{
    color: #39e75f;
    font-size: 15px;
}
.newsfeed__portfolioValue>p>span{
    font-size: 12px;
}

